@page "/"
@using DogRallyBlazorServer.Services;
@using DogRallyBlazorServer.Models;



@if (Tracks != null)
{
    <div class="card-grid">
        @foreach (var track in Tracks)
        {
            <Card>
                <div class="table-responsive">
                    <table class="table table-borderless mb-0">
                        <tbody>
                            <tr class="track-row">
                                <td class="centered-cell">
                                    <img class="track-image" src="@track.TrackImg" alt="Track Image" />
                                </td>
                                <td>
                                    <div class="pt-2">
                                        <div class="centered-subdiv">
                                            <div class="title">Lokation</div>
                                            <div class="track-place-name">@track.PlaceName</div>
                                        </div>
                                        <div class="centered-subdiv">
                                            <div class="title">Klasse</div>
                                            <div class="track-rallyClass">@track.RallyClass.GetDisplayName()</div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="pt-2">
                                        <div class="centered-subdiv">
                                            <div class="title">Udgivet den:</div>
                                            <div class="track-date">@track.Date.ToString("dd/MM/yyyy")</div>
                                        </div>
                                        <div class="centered-subdiv">
                                            <div class="title">Oprettet af:</div>
                                            <div class="track-creator">@track.CreatorName</div>
                                        </div>
                                    </div>
                                    <td class="centered-cell">
                                        <TableButton OnClickCallback="@(() => NavigatoToTrackDetail(track.TrackId))"  />
                                    </td>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </Card>
        }
    </div>
}

<style>
    .card-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* Distribute items evenly */
    }

    .title {
        font-weight: bold;
        margin-bottom: 1px;
    }
    .card {
        flex: 0 0 calc(50% - 0.5rem); /* Adjust width of cards (minus half of desired gap) */
        margin-bottom: 2px; /* Add margin to bottom of cards */
    }

    .track-image {
        width: 128px; /* Set width to 128px */
        height: 128px; /* Set height to 128px */
        object-fit: cover; /* Maintain aspect ratio and crop if necessary */
    }

</style>

@code {
    [Inject] private ITrackService TrackService { get; set; }
    [Inject] private NavigationManager NavigationManager { get; set; }

    private List<Track>? Tracks;

    protected override async Task OnInitializedAsync()
    {
        var response = await TrackService.GetTracks();
        Tracks = response.Tracks;
    }

    private void NavigatoToTrackDetail(int trackId)
    {
        NavigationManager.NavigateTo($"/track/{trackId}");
    }
}
